## Fire up GraphLab Create

In [1]:
import graphlab # includes SFrame

ModuleNotFoundError: No module named 'graphlab'

In [2]:
pip install graphlab-create

Collecting graphlab-create
Note: you may need to restart the kernel to use updated packages.

  Could not find a version that satisfies the requirement graphlab-create (from versions: )
No matching distribution found for graphlab-create

In [1]:
pip install graphlab-create

Collecting graphlab-create
Note: you may need to restart the kernel to use updated packages.

  Could not find a version that satisfies the requirement graphlab-create (from versions: )
No matching distribution found for graphlab-create

In [1]:
import graphlab

ImportError: No module named graphlab

In [3]:
import graphlab

ACTION REQUIRED: Dependencies libstdc++-6.dll and libgcc_s_seh-1.dll not found.

1. Ensure user account has write permission to C:\Users\ashmi\Anaconda2\lib\site-packages\graphlab
2. Run graphlab.get_dependencies() to download and install them.
3. Restart Python and import graphlab again.

By running the above function, you agree to the following licenses.

* libstdc++: https://gcc.gnu.org/onlinedocs/libstdc++/manual/license.html
* xz: http://git.tukaani.org/?p=xz.git;a=blob;f=COPYING

In [4]:
graphlab.get_dependencies()

By running this function, you agree to the following licenses.

* libstdc++: https://gcc.gnu.org/onlinedocs/libstdc++/manual/license.html
* xz: http://git.tukaani.org/?p=xz.git;a=blob;f=COPYING

Downloading xz.
Extracting xz.
Downloading gcc-libs.
Extracting gcc-libs.
Copying gcc-libs into the installation directory.

In [8]:
import graphlab
graphlab.product_key.set_product_key("C187-D620-363F-EB4E-4262-F2C8-9270-ABA6")

## Load a tablular dataset

In [36]:
sf = graphlab.SFrame('D:\Desktop\sample.csv')

Finished parsing file D:\Desktop\sample.csv

Parsing completed. Parsed 7 lines in 0.024982 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file D:\Desktop\sample.csv

Parsing completed. Parsed 7 lines in 0.032235 secs.

In [37]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | Age |
+------------+-----------+---------------+-----+
|   Ashmi    |   Chheda  |     India     |  23 |
|  Akshaya   |   Kumar   |     India     |  30 |
|   Saras    |   Krish   |    Chennai    |  40 |
|    Raj     |   Gandhi  |     Mumbai    |  23 |
|   Felix    |   Brown   |      USA      |  21 |
|    Tod     |  Campbell | United States |  34 |
|   Derek    |    Ward   |  Switzerland  |  40 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

## SFrame basics

In [38]:
sf # We can view first few lines of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | Age |
+------------+-----------+---------------+-----+
|   Ashmi    |   Chheda  |     India     |  23 |
|  Akshaya   |   Kumar   |     India     |  30 |
|   Saras    |   Krish   |    Chennai    |  40 |
|    Raj     |   Gandhi  |     Mumbai    |  23 |
|   Felix    |   Brown   |      USA      |  21 |
|    Tod     |  Campbell | United States |  34 |
|   Derek    |    Ward   |  Switzerland  |  40 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [39]:
sf.head() # first few lines of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | Age |
+------------+-----------+---------------+-----+
|   Ashmi    |   Chheda  |     India     |  23 |
|  Akshaya   |   Kumar   |     India     |  30 |
|   Saras    |   Krish   |    Chennai    |  40 |
|    Raj     |   Gandhi  |     Mumbai    |  23 |
|   Felix    |   Brown   |      USA      |  21 |
|    Tod     |  Campbell | United States |  34 |
|   Derek    |    Ward   |  Switzerland  |  40 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [40]:
sf.tail() # last few lines of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | Age |
+------------+-----------+---------------+-----+
|   Ashmi    |   Chheda  |     India     |  23 |
|  Akshaya   |   Kumar   |     India     |  30 |
|   Saras    |   Krish   |    Chennai    |  40 |
|    Raj     |   Gandhi  |     Mumbai    |  23 |
|   Felix    |   Brown   |      USA      |  21 |
|    Tod     |  Campbell | United States |  34 |
|   Derek    |    Ward   |  Switzerland  |  40 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

## GraphLab Canvas

In [41]:
# Take any data structure in GraphLab Create
sf.show()

In [42]:
## Open the visualization inside the python notebook
graphlab.canvas.set_target('ipynb')

In [24]:
sf.show()

In [43]:
sf['Age'].show(view="Categorical") #View specific data

## Inspect some columns of the dataset

In [44]:
sf['Country']

dtype: str
Rows: 7
['India', 'India', 'Chennai', 'Mumbai', 'USA', 'United States', 'Switzerland']

In [45]:
sf['Country'].show()

In [46]:
sf['Age'].mean()

30.14285714285714

In [47]:
sf['Age'].max()

40L

In [48]:
sf['Age'].min()

21L

## Create new columns in SFrames

In [32]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 7

Data:
+------------+-----------+-------------+-----+
| First Name | Last Name |   Country   | Age |
+------------+-----------+-------------+-----+
|   Ashmi    |   Chheda  |    India    |  23 |
|  Akshaya   |   Kumar   |    India    |  30 |
|   Saras    |   Krish   |   Chennai   |  40 |
|    Raj     |   Gandhi  |    Mumbai   |  23 |
|   Felix    |   Brown   |     USA     |  21 |
|    Tod     |  Campbell |     USA     |  34 |
|   Derek    |    Ward   | Switzerland |  40 |
+------------+-----------+-------------+-----+
[7 rows x 4 columns]

In [49]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name'] # Create new column Full name

In [50]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+---------------+
| First Name | Last Name |    Country    | Age |   Full Name   |
+------------+-----------+---------------+-----+---------------+
|   Ashmi    |   Chheda  |     India     |  23 |  Ashmi Chheda |
|  Akshaya   |   Kumar   |     India     |  30 | Akshaya Kumar |
|   Saras    |   Krish   |    Chennai    |  40 |  Saras Krish  |
|    Raj     |   Gandhi  |     Mumbai    |  23 |   Raj Gandhi  |
|   Felix    |   Brown   |      USA      |  21 |  Felix Brown  |
|    Tod     |  Campbell | United States |  34 |  Tod Campbell |
|   Derek    |    Ward   |  Switzerland  |  40 |   Derek Ward  |
+------------+-----------+---------------+-----+---------------+
[7 rows x 5 columns]

## Use the apply function to do advance transformation of the data

In [51]:
sf['Country']

dtype: str
Rows: 7
['India', 'India', 'Chennai', 'Mumbai', 'USA', 'United States', 'Switzerland']

In [52]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [54]:
transform_country('Brazil')

'Brazil'

In [55]:
transform_country('USA')

'United States'

In [58]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['India', 'India', 'Chennai', 'Mumbai', 'United States', 'United States', 'Switzerland']

In [59]:
sf['Country'] = sf['Country'].apply(transform_country)

In [60]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+---------------+
| First Name | Last Name |    Country    | Age |   Full Name   |
+------------+-----------+---------------+-----+---------------+
|   Ashmi    |   Chheda  |     India     |  23 |  Ashmi Chheda |
|  Akshaya   |   Kumar   |     India     |  30 | Akshaya Kumar |
|   Saras    |   Krish   |    Chennai    |  40 |  Saras Krish  |
|    Raj     |   Gandhi  |     Mumbai    |  23 |   Raj Gandhi  |
|   Felix    |   Brown   | United States |  21 |  Felix Brown  |
|    Tod     |  Campbell | United States |  34 |  Tod Campbell |
|   Derek    |    Ward   |  Switzerland  |  40 |   Derek Ward  |
+------------+-----------+---------------+-----+---------------+
[7 rows x 5 columns]

In [61]:
import TuriCreate

ImportError: No module named TuriCreate

In [62]:
pip install TuriCreate

SyntaxError: invalid syntax (<ipython-input-62-cc0006590808>, line 1)

In [64]:
import graphlab

In [65]:
people = graphlab.SFrame('D:\Desktop\coursera\people_wiki.sframe')

In [66]:
people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [67]:
length(people)

NameError: name 'length' is not defined

In [68]:
len(people)

59071

In [70]:
# Which name is in the last row?
people.tail()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+-------------------------------+
|              URI              |              name             |
+-------------------------------+-------------------------------+
| <http://dbpedia.org/resour... |            Rod Wilt           |
| <http://dbpedia.org/resour... |      Scott Baker (judge)      |
| <http://dbpedia.org/resour... |     Dragoljub Ojdani%C4%87    |
| <http://dbpedia.org/resour... |           Oz Bengur           |
| <http://dbpedia.org/resour... | Dee Brown (basketball, bor... |
| <http://dbpedia.org/resour... |           Olari Elts          |
| <http://dbpedia.org/resour... |         Scott F. Crago        |
| <http://dbpedia.org/resour... |    David Cass (footballer)    |
| <http://dbpedia.org/resour... |          Keith Elias          |
| <http://dbpedia.org/resour... |          Fawaz Damrah         |
+-------------------------------+-------------------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| rod wilt is a former repub... |
| sir thomas scott gillespie... |
| dragoljub ojdani serbian c... |
| osman oz bengur born febru... |
| decovan kadell dee brown b... |
| olari elts born april 27 1... |
| scott francis crago born j... |
| david william royce cass b... |
| keith hector elias born fe... |
| fawaz mohammed damrah arab... |
+-------------------------------+
[10 rows x 3 columns]

In [71]:
people['Hardog Brown']

RuntimeError: Runtime Exception. Column name Hardog Brown does not exist.

In [72]:
people[name == 'Harpdog Brown']

NameError: name 'name' is not defined

In [74]:
people['name']

dtype: str
Rows: 59071
['Digby Morrell', 'Alfred J. Lewy', 'Harpdog Brown', 'Franz Rottensteiner', 'G-Enka', 'Sam Henderson', 'Aaron LaCrate', 'Trevor Ferguson', 'Grant Nelson', 'Cathy Caruth', 'Sophie Crumb', 'Jenn Ashworth', 'Jonathan Hoefler', 'Anthony Gueterbock, 18th Baron Berkeley', 'David Chernushenko', 'Joerg Steineck', 'Andrew Pinsent', 'Paddy Dunne (Gaelic footballer)', 'Alexandros Mouzas', 'John Angus Campbell', 'Chris Batstone', 'Ceiron Thomas', 'Adel Sellimi', 'Faith Soloway', 'Tom Jennings', 'Vic Stasiuk', 'Anthony Caruana', 'Ian Mitchell (author)', 'Leon Hapgood', 'Emily Osment', 'Dom Flora', 'Ted Hill (mathematician)', 'Mindaugas Murza', 'Bob Reece', 'Douglas Davies', 'Freimut B%C3%B6rngen', 'Th%C3%BCring Br%C3%A4m', 'Aharon Solomons', 'Steven Weil', 'Gary Emineth', 'Timothy Grucza', 'Bob Adams (American football)', 'Sylvie Roy', 'Rob Sheffield', 'Michel Che', 'Jaafar Aksikas', 'Will Tuttle', 'Vanessa Ament', 'Marc Logan', 'Corey Woolfolk', 'Professor Lyrical (rapper)', 'Michelle Ye', 'Robert N. Chatigny', 'Vincent Fang (lyricist)', 'Misa Telefoni Retzlaff', 'Mary Goldring', 'Susan Westerberg Prager', 'Yohannes Yual', 'Christopher Sorrentino', 'Alexis Bhagat', 'David Vernon Williams', 'Guillermo Roux', 'William J. Ely', 'Alan Roper', 'Bob Havens', 'Susan Christie', 'Elizabeth Gunn (author)', 'Bo Hampton', 'Milva', 'Will Tiao', 'Quintin E. Primo III', 'Geoffrey Bayldon', 'Ulf-Dietrich Reips', 'Marcel J. Melan%C3%A7on', 'Mike Powell (journalist)', 'Vladimir Yurchenko', 'Nobuo Uematsu', 'John Warner (writer)', 'Doug McIntosh', 'Avi Muchnick', 'Robin MacPherson', 'Judi Silvano', 'Evelin Lindner', 'Robert S. Gold', 'Agnes Baltsa', 'Zvonimir Juri%C4%87', 'John-Paul Himka', 'Elisha Qimron', 'Robert Grant Irving', 'Sam Leach (artist)', 'Patricia Crowther (caver)', 'Katja Herbers', 'Shaka Hislop', 'Martin Iveson', 'Eva Habermann', 'Steve Castle', 'Armen Ra', 'David Shaughnessy', 'John Reynolds (Canadian politician)', 'Dean Greig', ... ]

In [77]:
# Read the text column for Harpdog Brown. He was honored with:
data = people[people['name'] == 'Harpdog Brown']

In [79]:
data['text']

dtype: str
Rows: ?
['harpdog brown is a singer and harmonica player who has been active in canadas blues scene since 1982 hailing from vancouver he crossed tens of thousands of miles playing club dates and festivals in canada the northwestern united states and germanyover the years he has issued seven cds in 1995 his home is where the harp is won the muddy award for the best nw blues release from the cascade blues association in portland oregon as well that year it was nominated for a canadian juno for the best bluesgospel recording teamed up with graham guest on piano his cd naturally was voted 1 canadian blues album of 2010 by the blind lemon surveybrown tours extensively with his guitarist j arthur edmonds performing their electric mid1950s chicago blues either as a duo or with the full band while he is home he juggles a few combos working many venues big and small he also leads the harpdog brown band which is a gutsy traditional chicago blues band in 2014 they released what it is comprising mainly original songs and a few classic covers influential blues promoter and broadcaster holger petersen called what it is browns best albumhe was just awarded the maple blues award in toronto for best harmonica player in canada 2014 and was honored with a life time membership to the hamilton blues society', ... ]

In [80]:
people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [81]:
# Sort the SFrame according to the text column, in ascending order. What is the name entry in the first row?

people.sort('text')

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |     108 (artist)    |
| <http://dbpedia.org/resour... |        1.8.7        |
| <http://dbpedia.org/resour... | Diane Carlson Evans |
| <http://dbpedia.org/resour... |    Robert Godley    |
| <http://dbpedia.org/resour... |     Lisa Mullins    |
| <http://dbpedia.org/resour... |   Martijn Meeuwis   |
| <http://dbpedia.org/resour... |    8 Ball Aitken    |
| <http://dbpedia.org/resour... |  8th Arjia Rinpoche |
| <http://dbpedia.org/resour... |      Jim Gould      |
| <http://dbpedia.org/resour... |   David L. Holmes   |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| 108 born 1978 is an italia... |
| 187 is a pseudonym for jor... |
| 1lt diane carlson evans an... |
| 1robert godley b 7 july 19... |
| 2012 gracie award winner l... |
| 250px250pxmartijn meeuwis ... |
| 8 ball aitken born 8 june ... |
| 8th agya hotogtu lobsang t... |
| a canadian foreign affairs... |
| a church historian david l... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [82]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]